
/*커스텀 라이브러리*/
.loading {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}

*{
  padding:0;
  margin:0;
}

.con{
  width:1920px;
  margin:0 auto;
}

@media ( min-width: 1900px ) {
  body { overflow-x:hidden; }
}
/*뜨는애니메이션 라이브러리*/

.home-icon-1,.home-icon-2,.home-icon-3,.home-icon-4{
  animation-name: infinite-01 ;
  animation-duration: 0.9s;
  animation-iteration-count: infinite ;
  animation-timing-function: linear ; 
}
.finally_bg{
  height:100px;
  color:#F7F5EF;
}

@keyframes infinite-01{
  0%{
    transform: translatey(0) ;
  }
  
  50%{
    transform: translatey(-10%);    
  }
  
  100%{
    transform: translatey(0);    
  }
  
}


/* -------------------visual */

.box-1{
  position:relative;
  height:763px;
   background-image:url("");
 
}
.visual{
  overflow:hidden;
  height:960px;
}

.visual_box{
  overflow:hidden;
  height:764px;
}
.icon{
  top:600px;
  left:50px;
  z-index:1;
}
/*목업 메인 이미지*/
.w-362{
  width:362px;
}

/*목업 애니메이션*/
.mockup-1{
  left:320px;
}
.mockup-1>img{
 transform:translateY(-50);
  transition:all 1s;
  z-index:-2;
    overflow:hidden;
  padding-top:2200px;
}

.mockup-1>img.animated{
  transform:translateY(-70.5%);
}
.mockup-2{

  right:560px;
  z-index:3;
}
.w-460{
  width:460px;
}
.mockup-3{
 transform:translateY(0);
  transition:all 1s;
right:60px;
 bottom:640px;
}
.mockup-3.animated{
  transform:translateY(69%);
 
}


/*  -----------------------------------------------------------------------------------------Introduction */
.Introduction{
  height:1140px;
  background-color:#FFFDF1;
}
.Intro-img-list-1{
  top:535px;
}
.Intro-img-list-2{
  top:702px;
  left:448px;
}
.Intro-img-list-3{
  top:-80px;
  left:946px;
}
.Intro-img-list-4{
  top:379px;
  left:1364.82px;
  animation:pen 2s ease-in Alternate Infinite;
}
@keyframes pen{
 0% {
    left:1364.82px;
  }
  100% {
    left: 1400px;
  }
}
.In-bg_1{
  background-color:#FFFADE;
  z-index:-5;
}
.h_145{
  height:145px;
}

.Introduction_box-1{
  height:999px;
   background-image:url("https://cdn.jsdelivr.net/gh/chaeryeong1/nanda/bg-인포.png");
  
  
}
.w-158{
  width:158px;
}
.n_logo_{
  left:552px;
  bottom:50px;
  animation:ani 1s ease-in Infinite Alternate;  
   }
@keyframes ani{
   0%{transform:translate(0);}
   100%{transform:translate(0px,50px);}
}
.h-50{
height:50px;
}
.h-40{
  height:40px;
  width:auto;
}
.Introduction_box-2{
 height:550px; 
  z-index:1;
}

.one_3{
right:360px;
}
.one_1{
left:160px;
  bottom:0px;
  top:-60px;
}
.one_2{
right:0px;
}

/* -------------------Persona */
.Persona{
  height:2020px;
}
.Persona-1{
  z-index:-1;
}
.Persona-2{
  top:68px;
  left:144px;
  
}
.Persona-3{
  top:567px;
  left:527px;
  
}
.Persona-4{
  top:885px;
  left:567px;
}
.Persona-5{
  top:482px;
  left:319px;
}
.Persona-6{
  top:965px;
  left:343px;
}
.Persona-7{
  top:1086px;
  left:447px;
}
.Persona-8{
  top:567px;
  left:1099px;
}
.Persona-9{
  top:885px;
  left:1107px;
}
.Persona-10{
  top:965px;
  left:915px;
}
.Persona-11{
  top:1113px;
  left:1019px;
}
.Persona-12{
  top:476px;
  left:1319px;
}
.Persona-13{
  top:210px;
  left:369px;
}
.Persona-14{
  top:1527px;
  left:300px;
}
.Persona-15{
  top:1611px;
  left:300px;
}
.Persona-16{
  top:1723px;
  left:271px;
}
.Persona-17{
  top:1723px;
  left:724px;
}
.Persona-18{
  top:1723px;
  left:1236px;
}


/* -------------------Brand */
.Brand{
  position:relative;
}

.Brand-bg{
  background:url(https://raw.githubusercontent.com/seoungmohwa/nanda/main/nanda/bg/%EB%A1%9C%EA%B3%A0%20%EC%86%8C%EA%B0%9C.png);
  width:1920px;
  height:1049px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:auto 100%;  
}
/* ----------Identity-- */
.Identity-card{
  position:absolute;
  top:43px;
  left:300px;
}
/* ----------color-- */
.color-card{
  position:absolute;
  top:524px;
  left:300px;
}
/* ----------Typography-- */
.Typography-card{
  position:absolute;
  top:524px;
  right:254px;
}
/* -------------------Character*/

.Character_Chart{
  position:relative;
}
.chart_bg_1_1{
  left:300px;
}
.Chart_bg{

  width:1920px;
  height:800px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:auto 100%;  
}

.Character-card{
  position:absolute;
  top:84px;
  left:300px;
}

/*infobg*/
.info-bg-1-1{
  height:1780px;
  width:1920px;
}
.info-bg_2{
  left:1395px;
  top:348px;
}
.info-bg_3{
  left:310px;
  top:811px;
}
.info-bg_4{
  left:379px;
  top:872px;
}


.info-bg_2{
  animation-name: infinite-01 ;
  animation-duration: 0.9s;
  animation-iteration-count: infinite ;
  animation-timing-function: linear ; 
}
.finally_bg{
  height:100px;
  color:#F7F5EF;
}

@keyframes infinite-01{
  0%{
    transform: translatey(0) ;
  }
  
  50%{
    transform: translatey(-10%);    
  }
  
  100%{
    transform: translatey(0);    
  }
  
}

/*layout*/
.layout{
  height:2744px;
  width:1920px;
}
.lay-1{
left:610px;
  top:171px;
}
.lay-2{
  top:207px;
}

/*chart*/

.chart{
  width:1920px;
  height:1480px;
  background-color:#FFC500;
}
.chart-1-img{
  left:196px;
  top:322px;
}
.chart-2-img{
  left:468px;
  top:400px;
}
.chart-3-img{
  left:867px;
  top:222px;
}
.chart-4-img{
  left:666px;
  top:271px;
}

/* -------------------wire-frame */
.wire-b-100{
  height:120px;
  width:auto;
}
.wire-frame{
  padding-top:125px;
  overflow-x:hidden;
}
.wire-frame>.title{
  left:300px;
  top:75px;
}
.wire-frame-img_list span img{
   min-width:428px;
  height:800px;
}

.wire-frame-bg{
  background-color:#C4C4C4;
  width:1620px;
  height:600px;
  left:300px;
  top:260px;
  z-index:-2;
}
.wire-frame-img_list{
 animation-name:wire-infinite;
  animation-iteration-count:infinite;
  animation-duration:60s;
  animation-timing-function: linear ;
}


@keyframes wire-infinite{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(-300%);
  }
 
}

/* --------------------------info-----*/


.info-bg{ 
margin-bottom:220px;
 width:1920px;
 height:929px;
background-color:inherit;
}

.ifbg-2{
  top:150px;
}
/* --------------- ----정보입력 01-----*/

.info-main-bg{ 
 width:1920px;
 height:2744px;
 background-repeat:no-repeat;
 background-position:center;
 background-size:auto 100%;
 position:relative;
 }

.info-main{
  position:relative;
}

.info-main-card-01{
  position:absolute;
  top:351px;
  left:57px;
}

.info-main-card-02{
  position:absolute;
  top:1531px;
  left:178px;
}

/* --------------------------홈화면-----*/
.con {
  width: 1920px;
  margin: 0 auto;
}
/*타이틀 애니메이션*/
.home-icon-1{
  top:1510px;
  left:520px;
}
.home-icon-2{
  top:2470px;
  left:1130px;
}
.home-icon-3{
  top:2957px;
  left:500px;
}
.home-icon-4{
  top:3760px;
  left:890px;
}
.home-title-1{
  left:626px;
}
.home-title-2{
  top:1700px;
  left:780px;
}
.home-title-3{
  top:2650px;
  left:896px;
}
.home-title-4{
  top:3134px;
  left:830px;
}
.home-title-5{
  top:4073px;
  left:830px;
}
.home-menu-rel{
height:4400px;
  overflow-y:hidden;
}
.home-menu {
  padding-top: 108px;
  padding-bottom: 379px;
  position: relative;
  
}

.home-menu__bg {
  z-index:-200;
  position: relative;

}

.main_menu {
  position: absolute;
  top: 0;
}

.main_menu__vertical_video {
  margin-top: 500px;
  position: relative;
  margin-left: 356px;
  margin-right: 240px;
}

.main_menu__vertical_video > .video > video {
  position: absolute;
  top: 2%;
  left: 40px;
  height: 940px;
  z-index: -100;
}

.main_menu__horizontal_video {
  position: relative;
  margin-top: 579px;
}

.main_menu__horizontal_video > .video > video {
  position: absolute;
  top: 2%;
  height: 930px;
  left: 40px;
  z-index: -100;
}
/* -----------------------------------------my_men 동영상 */
.my_menu_box {
  position: absolute;
  top:869px;
 left:1100px;
}

.my-menu-video {
  position: absolute;
  top: 20px;
  left: 27px;
  width: 441px;
  height: 920px;
}

/* -----------------------------------------환경설정 동영상 */
.setting_box {
  position: absolute;
  top: 1400px;
  margin-left: 339px;
}

.frame {
  position: relative;
}



.my-menu-video {
  position: absolute;
  top: 18px;
  left: 28px;
  width: 441px;
  height: 932px;
}

.home-menu__weight_record {
  position: absolute;
  top: 2800px;
  margin-left: 1197px;
}

.home-menu__month_all {
  margin-left: 233px;
  top: 3300px;
  position: absolute;
}

.dtc-1{
  top:2230px;
  left:687px;
  z-index:1;
}

/* --------------------------오늘의일기-----*/
.diary > .mokup > .mokup-2{
  margin-top:20rem;
  position:absolute;
  width:960px;
}

.diary > .mokup > .mokup-r{
  margin-left:960px;
  padding-left:10px;
}

.diary > .mokup > .mokup-2 > video{
  position:absolute;
  top:14px;
  left:271px;
  height:90%;
}

.diary > .mokup > .mokup-r > video{
  left:273px;
}

.diary > .mokup > .mokup-2 > img{
  width:503px;
  height:922px;
  margin:0 auto;
  z-index:100;
  position:relative;
}

/* --------------------------알람기능-----*/
.p20y{
  height:100px;
}
.notice{
  height:1022px;
  overflow-y:hidden;
}

.almg-1{
  top:100px;
  left:680px;
}

.almg-2{
   top:285px;
  left:1174px;
}
.almg-3{
   top:300px;
  left:1251px;
}
/* -------------------kcal */
.kcal{
  background-color:#FFC501;
  height:1872px;
}
.tmg-1{
  left:718px;
  top:100px;
}
.tmg-2{
  left:551px;
  top:200px;
}

.kmg-1{
  left:220px;
  top:200px;
}
.kmg-2{
  left:481px;
  top:685px;
}
.kmg-3{
  left:800px;
  top:1000px;
}
.kmg-4{
  left:1000px;
  top:750px;
}

/* --------------------------마지막-----*/

.finally_page{
  background-color:#FBF4E0;
}

.finally_page > span > img{
  transform:translatey(5%);
  opacity:0;
  transition:all 1s;
}

.finally_page > span.animated >img{
   transform:translatey(0);
   opacity:1;
} 


.finally_page > .icon_img .infinite_animation{
  animation-name: infinite-01 ;
  animation-duration: 0.9s;
  animation-iteration-count: infinite ;
  animation-timing-function: linear ; 
}
.finally_bg{
  height:100px;
  color:#F7F5EF;
}

@keyframes infinite-01{
  0%{
    transform: translatey(0) ;
  }
  
  50%{
    transform: translatey(-10%);    
  }
  
  100%{
    transform: translatey(0);    
  }
  
}
